<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Ms temperature prediction of Fe-Mn-Si alloy</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <form action="/" method="POST">
                <div class="col-sm-9">
                    <div class="form-group purple-border">
                        <label for="comment">Fe composition:</label>
                        <textarea class="form-control" rows="2" id="query1" name="query1"
                            autofocus>{{ query1 }}</textarea>
                    </div>
                    <div class="form-group purple-border">
                        <label for="comment">Mn composition:</label>
                        <textarea class="form-control" rows="2" id="query2" name="query2"
                            autofocus>{{ query2 }}</textarea>
                    </div>
                    <div class="form-group purple-border">
                        <label for="comment">Si composition:</label>
                        <textarea class="form-control" rows="2" id="query3" name="query3"
                            autofocus>{{ query3 }}</textarea>
                    </div>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary" name="submit">SUBMIT</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <textarea class="form-control" rows="2" id="comment" name="query4" autofocus>{{ output1 }}</textarea>
                <textarea class="form-control" rows="2" id="comment" name="query5" autofocus>{{ output2 }}</textarea>
            </div>
        </div>
    </div>
</body>

</html>